### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import os 
import csv
# File to Load
path = os.path.join('Resources', 'purchase_data.csv')
# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
players = len(purchase_df['SN'].unique())
players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Running basic calculations
unique_items = len(purchase_df['Item Name'].unique())
average_price = round(purchase_df['Price'].mean(), 2)
purchases_total = purchase_df['Purchase ID'].count()
total_revenue =purchase_df['Price'].sum()

In [7]:
# Creating clean dataframe to hold results
purchases_total_df = pd.DataFrame({
    "Unique Items": [unique_items],
    "Average Price": [f'${average_price}'],
    "Total Purchases": [purchases_total],
    "Total Revenue": [total_revenue]
})
# Formating thousands
pd.options.display.float_format = '{:,}'.format
# Drop
purchases_total_df

   Unique Items Average Price  Total Purchases  Total Revenue
0           179         $3.05              780       2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# Group By "Gender"
gender = purchase_df.groupby('Gender')
# Get count for the gender using unique SN
gender_count = gender.nunique()['SN']
# Run percentage calculations
gender_percent = (gender_count/players)*100
gender_percent

Gender
Female                             14.0625
Male                     84.02777777777779
Other / Non-Disclosed   1.9097222222222223
Name: SN, dtype: float64

In [9]:
# Create Table


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Count purchases made by different genders
gender_purchases = purchase_df.groupby('Gender')
gender_purchases_count = gender_purchases['Gender'].count()
# Average/mean for purchases for each genders
gender_purchases_average = gender_purchases['Price'].mean()
# Purchases total per gender
gender_purchases_total = gender_purchases['Price'].sum()

In [11]:
# Create Table

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
# Find min and max of ages to know what to set bins as
age_min = purchase_df['Age'].min()
age_max = purchase_df['Age'].max()
# print(age_min)
# print(age_max)
# Establishing bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 35, 39, 40]
# Age bin labels
age_labels = ['10 and under', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40 and up']
# Put players into their respective bins
purchase_df['Age Range'] = pd.cut(purchase_df['Age'], age_bins, labels=age_labels)
# Get unique number count for each age range
age_categories = purchase_df.groupby('Age Range').SN.nunique()
# Get Age percentage
age_percentage = age_categories / purchase_df.SN.nunique() * 100
# Format Age 
age_percentage.map('f{:.2f}'.format)

Age Range
10 and under     f2.95
10 to 14         f3.82
15 to 19        f18.58
20 to 24        f44.79
25 to 29        f13.37
30 to 34        f10.76
35 to 39         f3.65
40 and up        f0.87
Name: SN, dtype: object

In [ ]:
# Create table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame