### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os 
import csv
# File to Load
path = os.path.join('Resources', 'purchase_data.csv')
# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players = len(purchase_df['SN'].value_counts())
players_df = pd.DataFrame({
    "Total Players": [players]
})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Running basic calculations
unique_items = len(purchase_df['Item Name'].unique())
average_price = round(purchase_df['Price'].mean(), 2)
purchases_total = purchase_df['Purchase ID'].count()
total_revenue = purchase_df['Price'].sum()

In [4]:
# Creating clean dataframe to hold results
purchases_total_df = pd.DataFrame({
    "Unique Items": [unique_items],
    "Average Price": [f'${average_price}'],
    "Total Purchases": [purchases_total],
    "Total Revenue": [total_revenue]
})
# Format 'Total Revenue'
purchases_total_df['Total Revenue'] = purchases_total_df['Total Revenue'].map('${:,.2f}'.format)
purchases_total_df

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Group By "Gender"
gender = purchase_df.groupby('Gender')
# Get count for the gender using unique SN
gender_count = gender.nunique()['SN']
# Run percentage calculations
gender_percent = (gender_count/players)*100
# Format percentage 
gender_percent = gender_percent.map('{:.2f}%'.format)

In [6]:
# Create Table
gender_df = pd.DataFrame({
    'Total Count': gender_count, 
    'Percentage of Players': gender_percent
})
gender_df = gender_df.sort_values(by=['Total Count'], ascending=False)
gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Count purchases made by different genders
gender_purchases = purchase_df.groupby('Gender')
gender_purchases_count = gender_purchases['Gender'].count()
# Average/mean for purchases for each genders
gender_purchases_average = gender_purchases['Price'].mean()
# Purchases total per gender
gender_purchases_total = gender_purchases['Price'].sum()
# Average purchases per person
average_purchases_total = (gender_purchases_total/gender_count)
# Format Price Data
gender_purchases_average = gender_purchases_average.map('${:,.2f}'.format)
gender_purchases_total = gender_purchases_total.map('${:,.2f}'.format)
average_purchases_total = average_purchases_total.map('${:,.2f}'.format)

In [8]:
# Create Table
purchase_analysis_df = pd.DataFrame({
    "Purchase Count": gender_purchases_count, 
    "Average Purchase Price": gender_purchases_average, 
    "Total Purchase Value": gender_purchases_total, 
    "Avg Total Purchase Per Person": average_purchases_total
})
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Find min and max of ages to know what to set bins as
age_min = purchase_df['Age'].min()
age_max = purchase_df['Age'].max()
# Establishing bins for ages
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 45]
# Age bin labels
age_labels = ['10 and under', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40 and up']
# Put players into their respective bins
purchase_df['Age Range'] = pd.cut(purchase_df['Age'], age_bins, labels=age_labels)
# Get unique number count for each age range
age_categories = purchase_df.groupby('Age Range')
age_count = age_categories['SN'].nunique()
# Get Age percentage
age_percentage = (age_count/players * 100)
# Format Age 
age_percentage = age_percentage.map('{:.2f}%'.format)

In [10]:
# Create table
age_demographics_df = pd.DataFrame({
    "Total Count": age_count,
    "Percetange of Players": age_percentage
})
age_demographics_df

              Total Count Percetange of Players
Age Range
10 and under           17                 2.95%
10 to 14               22                 3.82%
15 to 19              107                18.58%
20 to 24              258                44.79%
25 to 29               77                13.37%
30 to 34               52                 9.03%
35 to 39               31                 5.38%
40 and up              12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Cut and sort age range data to work with
purchase_df['Age Range'] = pd.cut(purchase_df['Age'], age_bins, labels=age_labels)
age_range = purchase_df.groupby('Age Range')
# Caluclation to get purchase count per age range
age_purchase_count = age_range['Purchase ID'].count()
# Caluclation to get average purchases price per age range
age_purchase_average = age_range['Price'].mean()
# Total purchases per age range
age_purchase_total = age_range['Price'].sum()
# Average purchases per person per age range
per_person_average = age_purchase_total/age_count
# Format price data
age_purchase_average = age_purchase_average.map('${:,.2f}'.format)
age_purchase_total = age_purchase_total.map('${:,.2f}'.format)
per_person_average = per_person_average.map('${:,.2f}'.format)

In [12]:
# Create Table
age_purchase_df = pd.DataFrame({
    "Purchase Count": age_purchase_count, 
    "Average Purchase Price": age_purchase_average,
    "Total Purchase Value": age_purchase_total, 
    "Avg Total Purchase Per Person": per_person_average
})
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Range,,,,
10 and under,23,$3.35,$77.13,$4.54
10 to 14,28,$2.96,$82.78,$3.76
15 to 19,136,$3.04,$412.89,$3.86
20 to 24,365,$3.05,"$1,114.06",$4.32
25 to 29,101,$2.90,$293.00,$3.81
30 to 34,73,$2.93,$214.00,$4.12
35 to 39,41,$3.60,$147.67,$4.76
40 and up,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# Group the purchase data according to 'SN'
spender_df = purchase_df.groupby('SN')
# Calulation for spender count 
spender_count = spender_df['Purchase ID'].count()
# Calulcation for spenders average purchase price 
spender_avg_price = spender_df['Price'].mean()
# Calulcation for total purchase values 
spender_total_purchase = spender_df['Price'].sum()
# Format price data
spender_avg_price = spender_avg_price.map('${:,.2f}'.format)

In [14]:
# Create Table
top_spender_df = pd.DataFrame({
    "Purchase Count": spender_count, 
    "Average Purchase Price": spender_avg_price, 
    "Total Purchase Value": spender_total_purchase
})
# Sort in decending order to get the most expensive item first
top_spender_df = top_spender_df.sort_values(by=['Total Purchase Value'], ascending=False)
# Fomrat total purchase value down here because it gets messed up when i do it above
top_spender_df['Total Purchase Value'] = top_spender_df['Total Purchase Value'].map('${:,.2f}'.format)
top_spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# Grabbing the data we need for popular items
popular_items = purchase_df[['Item ID', 'Item Name', 'Price']]
# Needs a group by for data frame index
popular_items = purchase_df.groupby(["Item ID","Item Name"])
# Calculations for purchase items count
items_count = popular_items['Item ID'].count()
# Calulations for avg item price 
items_price = popular_items['Price'].mean()
# Calulatation for total price of purchases 
items_total = popular_items['Price'].sum()
# Format price data
items_price = items_price.map('${:,.2f}'.format)

In [16]:
# Create Table
popular_items_df = pd.DataFrame({
    "Purchase Count": items_count, 
    "Item Price": items_price, 
    "Total Purchase Value": items_total
})
# Sort to get most popular by purchase count
popular_items_df = popular_items_df.sort_values(by=['Purchase Count'], ascending=False)
# Fomrat total purchase value down here because it gets messed up when i do it above
popular_items_df['Total Purchase Value'] = popular_items_df['Total Purchase Value'].map('${:,.2f}'.format)
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
# Take above table and Arrange Table in decending by total purchase value 
profit_items_df = pd.DataFrame({
    "Purchase Count": items_count, 
    "Item Price": items_price, 
    "Total Purchase Value": items_total
})
# Sort to get most popular by purchase count
profit_items_df = profit_items_df.sort_values(by=['Total Purchase Value'], ascending=False)
# Fomrat total purchase value down here because it gets messed up when i do it above
profit_items_df['Total Purchase Value'] = profit_items_df['Total Purchase Value'].map('${:,.2f}'.format)
profit_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80